@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
}

[class^=section-] {
  position: relative;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 6.25rem 0;
}

.title {
  z-index: 2;
  position: relative;
}
.title h2 {
  font-size: 2.25rem;
  font-weight: 900;
  color: #333;
}
.title:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: -2rem;
  bottom: 0;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50% 50% 0 50%;
  background: #ffc20d;
}

.sub-title {
  margin-top: 1.5rem;
}
.sub-title p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

header {
  border-top: 5px solid #009223;
  background: white;
}
header .gnb-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 0;
}
header .gnb-header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .gnb-header .util ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .gnb-header .util ul li {
  margin-left: 1rem;
}
header .gnb-header .util ul li:first-child {
  margin-left: 0;
}
header .gnb-header .util ul li a {
  display: block;
  font-size: 0.875rem;
  color: #666;
}
header .gnb-header .util ul li a.global {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../images/icon_util.png") no-repeat center center/cover;
}
header .gnb-menu {
  border-bottom: 1px solid #f3f3f3;
}
header .gnb-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}
header .gnb-menu > ul li {
  z-index: 10;
  position: relative;
  width: 190px;
  text-align: center;
  padding: 1.5rem 0;
}
header .gnb-menu > ul li p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}
header .gnb-menu > ul li .sub-menu {
  position: absolute;
  top: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform-origin: top;
          transform-origin: top;
  border: 2px solid #009223;
  border-top: none;
  background: white;
}
header .gnb-menu > ul li .sub-menu li {
  padding: 0;
}
header .gnb-menu > ul li .sub-menu li a {
  display: block;
  color: #333;
  font-size: 0.875rem;
  padding: 1rem 0;
}
header .gnb-menu > ul li:hover p {
  color: #009223;
}
header .gnb-menu > ul li:hover .sub-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
header .gnb-menu > ul li:hover .sub-menu li:hover a {
  color: white;
  background: #009223;
}

.quick-menu {
  z-index: 100;
  position: fixed;
  left: 50%;
  bottom: 10rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 40vw;
}
.quick-menu-button {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background: #ffc20d;
  -webkit-box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.3);
}
.quick-menu-button a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.quick-menu-button a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.quick-menu-button a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.25rem;
  height: 2rem;
  border-radius: 0.25rem;
  background: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.quick-menu-list {
  position: absolute;
  left: 50%;
  margin-bottom: 1.5rem;
  bottom: 100%;
  -webkit-transform: scaleY(0) translateX(-50%);
          transform: scaleY(0) translateX(-50%);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.quick-menu-list ul li {
  position: relative;
  margin-bottom: 0.5rem;
  text-align: center;
  background: #ffc20d;
}
.quick-menu-list ul li:after, .quick-menu-list ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: white;
}
.quick-menu-list ul li:before {
  left: 0.75rem;
}
.quick-menu-list ul li:after {
  right: 0.75rem;
}
.quick-menu-list ul li:nth-child(2n) {
  background: #009223;
}
.quick-menu-list ul li:last-child {
  margin-bottom: 0;
}
.quick-menu-list ul li a {
  position: relative;
  display: block;
  min-width: 12.5rem;
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}
.quick-menu.active .quick-menu-button a {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.quick-menu.active .quick-menu-list {
  -webkit-transform: scaleY(1) translateX(-50%);
          transform: scaleY(1) translateX(-50%);
}

.section-title .container {
  position: relative;
  padding: 0;
}
.section-title .swiper {
  max-width: 1920px;
  margin: 0 auto;
}
.section-title .swiper-pagination {
  bottom: 1rem;
  text-align: right;
}
.section-title .swiper-pagination span {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  opacity: 1;
  background: white;
}
.section-title .swiper-pagination span.swiper-pagination-bullet-active {
  background: #ffc20d;
}
.section-menu .menu-tabs {
  margin: 1.5rem 0 3rem;
}
.section-menu .menu-tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-menu .menu-tabs ul li {
  position: relative;
  font-size: 1.125rem;
  margin: 0 1rem;
  cursor: pointer;
}
.section-menu .menu-tabs ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  width: 1px;
  height: 0.75rem;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-menu .menu-tabs ul li:first-child {
  margin-left: 0;
}
.section-menu .menu-tabs ul li:last-child {
  margin-right: 0;
}
.section-menu .menu-tabs ul li:last-child:after {
  display: none;
}
.section-menu .menu-tabs ul li.active {
  font-weight: bold;
  color: #009223;
}
.section-menu .container {
  position: relative;
}
.section-menu .menu-wrapper .menu-swiper {
  display: none;
}
.section-menu .menu-wrapper .menu-swiper.active {
  display: block;
}
.section-menu .menu-wrapper .menu-swiper-wrapper {
  position: relative;
  padding: 0 3.75rem;
}
.section-menu .menu-wrapper .swiper-slide {
  position: relative;
  text-align: center;
}
.section-menu .menu-wrapper .swiper-slide a {
  position: relative;
  display: block;
  color: #333;
  padding: 0 1.25rem;
}
.section-menu .menu-wrapper .swiper-slide a p {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section-menu .menu-wrapper .swiper-slide a span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  overflow: hidden;
  line-height: 1.4;
  -webkit-line-clamp: 3;
}
.section-menu .menu-wrapper .swiper-slide a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background: #ffc20d url("../images/icon_search.png") no-repeat center center/50%;
}
.section-menu .menu-wrapper .swiper-slide a:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.section-menu .menu-wrapper .swiper-button {
  z-index: 10;
  width: 3.75rem;
  height: 3.75rem;
  margin-top: 0;
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-menu .menu-wrapper .swiper-button:after {
  content: "";
}
.section-menu .menu-wrapper .swiper-button-prev {
  left: -1.875rem;
  background: url("../images/icon_prev.png") no-repeat center center/20px;
}
.section-menu .menu-wrapper .swiper-button-next {
  right: -1.875rem;
  background: url("../images/icon_next.png") no-repeat center center/20px;
}
.section-menu .menu-wrapper .swiper-button:hover {
  background-color: #009223;
}
.section-menu .menu-wrapper .swiper-button-disabled {
  opacity: 0.3;
}
.section-menu .menu-wrapper .swiper-button-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-news .news-content {
  margin-top: 3rem;
}
.section-news .news-content ul li a {
  position: relative;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
}
.section-news .news-content ul li a:hover {
  color: #009223;
}
.section-news .news-content .news-more {
  text-align: center;
  margin-top: 3rem;
}
.section-news .news-content .news-more a {
  position: relative;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.section-news .news-content .news-more a:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #ffc20d;
}
.section-news .news-content .news-more a:hover {
  border-color: #ffc20d;
}
.section-news .news-content .news-more a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.section-enjoy {
  padding-bottom: 6.25rem;
  background: url("../images/bg_content.gif");
}
.section-enjoy .container {
  padding-bottom: 0;
}
.section-enjoy .enjoy-tabs {
  margin-top: 3rem;
}
.section-enjoy .enjoy-tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.section-enjoy .enjoy-tabs ul li {
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  padding: 1.25rem 0;
  background: white;
  cursor: pointer;
}
.section-enjoy .enjoy-tabs ul li:first-child {
  border-left: 1px solid #ccc;
}
.section-enjoy .enjoy-tabs ul li:last-child {
  border-radius: 1px solid #ccc;
}
.section-enjoy .enjoy-tabs ul li.active {
  color: white;
  background: #009223;
}
.section-enjoy .enjoy-steps {
  margin: 1.875rem 0;
}
.section-enjoy .enjoy-steps ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-enjoy .enjoy-steps ol li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5rem;
  height: 5rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: #ccc;
  margin: 0 3rem;
  border-radius: 50%;
  border: 0.25rem solid #ccc;
  background: white;
}
.section-enjoy .enjoy-steps ol li:before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.5rem;
  left: -4.25rem;
  background: url("../images/icon_step_grey.png") no-repeat center center/cover;
}
.section-enjoy .enjoy-steps ol li span {
  font-size: 2rem;
  font-weight: 700;
}
.section-enjoy .enjoy-steps ol li:first-child {
  margin-left: 0;
}
.section-enjoy .enjoy-steps ol li:first-child:before {
  display: none;
}
.section-enjoy .enjoy-steps ol li:last-child {
  margin-right: 0;
}
.section-enjoy .enjoy-steps ol li.active {
  color: #009223;
  border-color: #009223;
}
.section-enjoy .enjoy-steps ol li.active span {
  color: #333;
}
.section-enjoy .enjoy-steps ol li.active:before {
  background: url("../images/icon_step_green.png") no-repeat center center/cover;
}
.section-enjoy .enjoy-steps ol li.focus {
  color: white;
  background-color: #009223;
}
.section-enjoy .enjoy-steps ol li.focus span {
  color: white;
}
.section-enjoy .enjoy-container {
  position: relative;
  max-width: 73.75rem;
  height: 26.25rem;
  margin: 0 auto;
}
.section-enjoy .enjoy-contents {
  overflow: hidden;
}
.section-enjoy .enjoy-contents-list ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-enjoy .enjoy-contents-list ol li {
  position: absolute;
  left: 150%;
  min-width: 1180px;
  padding: 0 1.875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-enjoy .enjoy-contents-list ol li img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.section-enjoy .enjoy-contents-list ol li.active {
  left: 0;
}
.section-enjoy .enjoy-contents-list ol li.active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.section-enjoy .enjoy-contents-list ol li.active + li {
  left: 100%;
}
.section-enjoy .enjoy-contents .enjoy-contents-button a {
  position: absolute;
  top: 50%;
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 0;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-enjoy .enjoy-contents .enjoy-contents-button a:hover {
  background-color: #009223;
}
.section-enjoy .enjoy-contents .enjoy-contents-button a.disabled {
  cursor: default;
  opacity: 0.4;
}
.section-enjoy .enjoy-contents .enjoy-contents-button a.disabled:hover {
  background-color: transparent;
}
.section-enjoy .enjoy-contents .enjoy-contents-button-prev {
  left: -1.875rem;
  background: url("../images/icon_prev.png") no-repeat center center/1.25rem;
}
.section-enjoy .enjoy-contents .enjoy-contents-button-next {
  right: -1.875rem;
  background: url("../images/icon_next.png") no-repeat center center/1.25rem;
}
.section-enjoy .enjoy-contents-text {
  position: absolute;
  top: 0;
  right: 3.75rem;
  bottom: 0;
  width: 22.5rem;
  padding: 1.875rem;
  border: 1px solid #ccc;
  background: white;
}
.section-enjoy .enjoy-contents-text:before {
  content: "";
  position: absolute;
  top: 1.875rem;
  left: -0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background: white;
}
.section-enjoy .enjoy-contents-text-num {
  font-size: 0.875rem;
  font-weight: 600;
  color: #009223;
}
.section-enjoy .enjoy-contents-text li {
  position: absolute;
  left: 1.875rem;
  right: 1.875rem;
  margin-top: 0.75rem;
}
.section-enjoy .enjoy-contents-text li strong {
  position: relative;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  opacity: 0;
  -webkit-transform: translateX(1.25rem);
          transform: translateX(1.25rem);
}
.section-enjoy .enjoy-contents-text li strong:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.25rem;
  background: #ffc20d;
}
.section-enjoy .enjoy-contents-text li p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
  color: #666;
  opacity: 0;
  -webkit-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
}
.section-enjoy .enjoy-contents-text li.active strong {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-enjoy .enjoy-contents-text li.active strong:before {
  width: 1.875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.section-enjoy .enjoy-contents-text li.active p {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}